.card-detail {
    width: 75%;
    padding-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: space-around;
}

.title-product {
    font-size: 30px;
    width: 100%;
    text-align: left;
}

.description-product {
    padding-top: 50px;
    font-size: 20px;
    text-align: justify;
}

.stock-product {
    display: block;
    padding-top: 50px;
    font-size: 20px;
}

.price-product {
    display: block;
    padding-top: 50px;
    font-size: 20px;
    font-weight: bold;
}

