* {
    margin: 0;
    padding: 0;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    min-height:8vh;
    background-color: rgb(228, 249, 248);
}

ul {
    display: flex;
    list-style-type: none;
    transition: 0.3s;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #374c56;
    font-weight: bold;
    padding: 0 30px;
}

.logo {
    width: 20%;
    padding: 10px 0px 10px 0px;
}
